In [140]:
import pandas as pd
import numpy as np
# import seaborn as sns
# import matplotlib.pyplot as plt
from datetime import datetime

In [141]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

### 강남구 전통시장

In [142]:
# 강남구 전통시장 파일 오픈
store_data = pd.read_csv('./data_1/강남구_전통시장.csv', encoding='utf-8') # 파일 경로와 파일명을 정확히 전달
store_data.head()

,Unnamed: 0,인허가일자,폐업일자,도로명주소,점포_위도,점포_경도,사업장명
0,2,1974-11-10,2023-01-02,서울특별시 강남구 압구정로2길 46,37.518771,127.020669,강남시장
1,3,1979-01-17,2023-01-02,서울특별시 강남구 봉은사로33길 33,37.510018,127.034777,논현종합시장
2,7,1980-05-19,2023-01-02,서울특별시 강남구 학동로101길 26,37.522305,127.057736,청담삼익시장
3,23,1988-05-13,2023-01-02,서울특별시 강남구 남부순환로 2921,37.493606,127.059700,남서울종합시장
4,30,2011-06-23,2023-01-02,서울특별시 강남구 강남대로124길 22,37.509167,127.024584,영동전통시장

In [143]:
df_store = store_data

In [144]:
# Unnamed: 0, 사업장명 컬럼 삭제
df_store = df_store.drop(['Unnamed: 0', '사업장명'], axis=1)

In [145]:
df_store= df_store.rename(columns={'점포_위도':'시장_위도', '점포_경도':'시장_경도'})
df_store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   인허가일자   5 non-null      object
 1   폐업일자    5 non-null      object
 2   도로명주소   5 non-null      object
 3   시장_위도   5 non-null      float64
 4   시장_경도   5 non-null      float64
dtypes: float64(2), object(3)
memory usage: 328.0+ bytes

In [146]:
df_store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   인허가일자   5 non-null      object
 1   폐업일자    5 non-null      object
 2   도로명주소   5 non-null      object
 3   시장_위도   5 non-null      float64
 4   시장_경도   5 non-null      float64
dtypes: float64(2), object(3)
memory usage: 328.0+ bytes

In [147]:
# 인허가일자 문자열 형태 -> datetime 으로 변경
df_store['인허가일자'] = df_store['인허가일자'].apply(lambda x: pd.to_datetime(str(x), format='%Y-%m-%d'))

In [148]:
# 폐업일자 문자열 형태 -> datetime 으로 변경
df_store['폐업일자'] = df_store['폐업일자'].apply(lambda x: pd.to_datetime(str(x), format='%Y-%m-%d'))

In [149]:
df_store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   인허가일자   5 non-null      datetime64[ns]
 1   폐업일자    5 non-null      datetime64[ns]
 2   도로명주소   5 non-null      object
 3   시장_위도   5 non-null      float64
 4   시장_경도   5 non-null      float64
dtypes: datetime64[ns](2), float64(2), object(1)
memory usage: 328.0+ bytes

### 메인 파일

In [150]:
# 메인 파일 오픈
main_data = pd.read_csv('./data_1/main.csv', encoding='utf-8') # 파일 경로와 파일명을 정확히 전달
main_data.head()

,Unnamed: 0,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소_x,계약시작,계약종료,계약년월일,구,건축나이,Latitude,Longitude,스타벅스 지점수,미쉐린 지점수,맥도날드 지점수,대규모점포 개수
0,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725,0,0,0,0
1,1,서울특별시 강남구 개포동,전세,14333,1991,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-10-01,2024-10-01,2022-10-05,강남구,32,37.473722,127.052725,0,0,0,0
2,2,서울특별시 강남구 개포동,전세,17115,1991,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-07-01,2024-07-01,2022-07-07,강남구,32,37.473722,127.052725,0,0,0,0
3,3,서울특별시 강남구 개포동,전세,17640,1991,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-07-01,2024-07-01,2022-07-07,강남구,32,37.473722,127.052725,0,0,0,0
4,4,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,37.473722,127.052725,0,0,0,0

In [151]:
df_main = main_data

In [152]:
# Unnamed: 0 컬럼 삭제
df_main = df_main.drop(['Unnamed: 0'], axis=1)

In [153]:
df_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87361 entries, 0 to 87360
Data columns (total 19 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   시군구        87361 non-null  object
 1   전월세구분      87361 non-null  object
 2   보증금(만원)    87361 non-null  int64
 3   건축년도       87361 non-null  int64
 4   구분         87361 non-null  object
 5   전용면적(㎡)    87361 non-null  float64
 6   층          87361 non-null  float64
 7   도로명주소_x    87361 non-null  object
 8   계약시작       25069 non-null  object
 9   계약종료       25069 non-null  object
 10  계약년월일      87361 non-null  object
 11  구          87361 non-null  object
 12  건축나이       87361 non-null  int64
 13  Latitude   87361 non-null  float64
 14  Longitude  87361 non-null  float64
 15  스타벅스 지점수   87361 non-null  int64
 16  미쉐린 지점수    87361 non-null  int64
 17  맥도날드 지점수   87361 non-null  int64
 18  대규모점포 개수   87361 non-null  int64
dtypes: float64(4), int64(7), object(8)
memory usage: 12.7+ MB

In [154]:
from typing import List, Union, Callable, Any, Optional

import numpy as np
import pandas as pd


ColumnarType = Union[str, List[str]]


def maybe_convert_to_list(something: Union[Any, List[Any]]) -> List[Any]:
    """
    Make a list of one element if argument is not a list.
    :param something:
        single value or list
    :return:
        non-empty list
    """
    return something if isinstance(something, list) else [something]


def non_equi_inner_join(
        left: pd.DataFrame,
        right: pd.DataFrame,
        non_equi_conditions: Union[Callable, List[Callable]],
        equi_on: Optional[Union[ColumnarType]] = None,
        equi_left_on: Optional[ColumnarType] = None,
        equi_right_on: Optional[ColumnarType] = None,
        n_partitioning_equi_keys: Optional[int] = None
        ) -> pd.DataFrame:
    """
    Join two `DataFrame`s by arbitrary conditions and,
    optionally, by exact match of some columns (this
    equi join part is regular merge from `pandas`).
    :param left:
        left `DataFrame`
    :param right:
        right `DataFrame`
    :param non_equi_conditions:
        functions such that their only argument is a `DataFrame`
        produced by join that ignores non-equi join part
        and result of each of them is a boolean mask that
        tells which rows satisfy corresponding non-equi join
        condition 
    :param equi_on:
        columns to be used for equi join part, this argument
        overrides `equi_left_on` and `equi_right_on`
    :param equi_left_on:
        columns of `left` to be used for equi join part
    :param equi_right_on:
        columns of `right` to be used for equi join part
    :param n_partitioning_equi_keys:
        number of equi join keys to be used for partitioning;
        the corresponding number of first keys is selected, so
        take this into consideration when ordering equi join keys;
        partitioning means that, instead of running equi join
        followed with filtering by non-equi conditions,
        both `DataFrame`s are split by some of equi join keys,
        then (equi_join+filtering) is run for each of the
        partitions and, finally, results are concatenated;
        the higher this argument, the slower execution can be,
        but also the less memory is taken in case of large
        enough `DataFrames`; default leads to usage of all
        equi join keys for partitioning
    :return:
        joined `DataFrame`
    Examples:
    >>> left = pd.DataFrame([[1, 2, 3],
    >>>                      [4, 5, 6],
    >>>                      [7, 8, 9]],
    >>>                     columns=['a', 'b', 'c'])
    >>> right = pd.DataFrame([[1, 2.5, -3],
    >>>                       [4, 7, -6],
    >>>                       [6, 8.5, -9]],
    >>>                      columns=['a', 'd', 'e'])
    >>> non_equi_inner_join(
    >>>     left,
    >>>     right,
    >>>     non_equi_conditions=[lambda x: x['d'] > x['b'],
    >>>                          lambda x: x['d'] < x['c']],
    >>>     equi_on='a'
    >>> )
        pd.DataFrame([[1, 2, 3, 2.5, -3]],
                     columns=['a', 'b', 'c', 'd', 'e'])
    
    >>> non_equi_inner_join(
    >>>     left,
    >>>     right,
    >>>     non_equi_conditions=[lambda x: x['d'] > x['b'],
    >>>                          lambda x: x['d'] < x['c']]
    >>> )
        pd.DataFrame([[1, 2, 3, 1, 2.5, -3],
                      [7, 8, 9, 6, 8.5, -9]],
                     columns=['a_x', 'b', 'c', 'a_y', 'd', 'e'])
    """
    # Validate and preprocess inputs.
    non_equi_conditions = maybe_convert_to_list(non_equi_conditions)
    if equi_on is not None:
        equi_left_on = maybe_convert_to_list(equi_on)
        equi_right_on = maybe_convert_to_list(equi_on)
    else:
        equi_left_on = maybe_convert_to_list(equi_left_on)
        equi_right_on = maybe_convert_to_list(equi_right_on)
    if equi_left_on[0] is None:
        if equi_right_on[0] is not None:
            raise ValueError('Left keys are set, right keys are not set.')
        equi_left_on = ['__dummy_key']
        equi_right_on = ['__dummy_key']
        left['__dummy_key'] = 0
        right['__dummy_key'] = 0
    if n_partitioning_equi_keys is None:
        n_partitioning_equi_keys = len(equi_left_on)
    elif n_partitioning_equi_keys > len(equi_left_on):
        raise ValueError(
            'Number of keys for partitioning exceeds number of equi join keys.'
        )

    # Use equi keys (if they are set) for optimizing memory consumption.
    if n_partitioning_equi_keys > 0:
        left_partition_keys = equi_left_on[:n_partitioning_equi_keys]
        right_partition_keys = equi_right_on[:n_partitioning_equi_keys]
        left_partitions = {
            idx: group
            for idx, group
            in left.groupby(left_partition_keys, as_index=False)
        }
        right_partitions = {
            idx: group
            for idx, group
            in right.groupby(right_partition_keys, as_index=False)
        }
    else:
        left_partitions = {None: left}
        right_partitions = {None: right}
    
    # Join DataFrames.
    join_results = []
    for idx, curr_left in left_partitions.items():
        curr_right = right_partitions.get(idx)
        if curr_right is None:
            continue
        curr_joined = pd.merge(
            curr_left,
            curr_right,
            left_on=equi_left_on,
            right_on=equi_right_on
        )
        conditions = [
            checking_fn(curr_joined) for checking_fn in non_equi_conditions
        ]
        curr_joined = curr_joined[np.logical_and.reduce(conditions)]
        join_results.append(curr_joined)
    if len(join_results) > 0:
        joined = pd.concat(join_results)
    else:
        joined = pd.DataFrame(columns=left.columns)
    tmp_columns = [x for x in joined.columns.tolist() if '__dummy_key' in x]
    joined.drop(tmp_columns, axis=1, inplace=True)
    return joined

In [155]:
# non-equit join
from tqdm import tqdm
df1 = non_equi_inner_join(
    df_main,
    df_store,
    non_equi_conditions=[lambda x: x['계약년월일'] >= x['인허가일자'],
                         lambda x: x['계약년월일'] <= x['폐업일자']]
)
tqdm.pandas()

In [156]:
(df1['인허가일자']<=df1['계약년월일']).all()

True

In [157]:
(df1['계약년월일']<=df1['폐업일자']).all()

True

In [158]:
df1

,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소_x,계약시작,계약종료,...,Longitude,스타벅스 지점수,미쉐린 지점수,맥도날드 지점수,대규모점포 개수,인허가일자,폐업일자,도로명주소,시장_위도,시장_경도
0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,...,127.052725,0,0,0,0,1974-11-10,2023-01-02,서울특별시 강남구 압구정로2길 46,37.518771,127.020669
1,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,...,127.052725,0,0,0,0,1979-01-17,2023-01-02,서울특별시 강남구 봉은사로33길 33,37.510018,127.034777
2,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,...,127.052725,0,0,0,0,1980-05-19,2023-01-02,서울특별시 강남구 학동로101길 26,37.522305,127.057736
3,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,...,127.052725,0,0,0,0,1988-05-13,2023-01-02,서울특별시 강남구 남부순환로 2921,37.493606,127.059700
4,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,...,127.052725,0,0,0,0,2011-06-23,2023-01-02,서울특별시 강남구 강남대로124길 22,37.509167,127.024584
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436800,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,...,127.044070,1,2,1,0,1974-11-10,2023-01-02,서울특별시 강남구 압구정로2길 46,37.518771,127.020669
436801,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,...,127.044070,1,2,1,0,1979-01-17,2023-01-02,서울특별시 강남구 봉은사로33길 33,37.510018,127.034777
436802,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,...,127.044070,1,2,1,0,1980-05-19,2023-01-02,서울특별시 강남구 학동로101길 26,37.522305,127.057736
436803,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,...,127.044070,1,2,1,0,1988-05-13,2023-01-02,서울특별시 강남구 남부순환로 2921,37.493606,127.059700
436804,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,...,127.044070,1,2,1,0,2011-06-23,2023-01-02,서울특별시 강남구 강남대로124길 22,37.509167,127.024584

In [159]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 436805 entries, 0 to 436804
Data columns (total 24 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   시군구        436805 non-null  object
 1   전월세구분      436805 non-null  object
 2   보증금(만원)    436805 non-null  int64
 3   건축년도       436805 non-null  int64
 4   구분         436805 non-null  object
 5   전용면적(㎡)    436805 non-null  float64
 6   층          436805 non-null  float64
 7   도로명주소_x    436805 non-null  object
 8   계약시작       125345 non-null  object
 9   계약종료       125345 non-null  object
 10  계약년월일      436805 non-null  object
 11  구          436805 non-null  object
 12  건축나이       436805 non-null  int64
 13  Latitude   436805 non-null  float64
 14  Longitude  436805 non-null  float64
 15  스타벅스 지점수   436805 non-null  int64
 16  미쉐린 지점수    436805 non-null  int64
 17  맥도날드 지점수   436805 non-null  int64
 18  대규모점포 개수   436805 non-null  int64
 19  인허가일자      436805 non-null  datetime64[ns]
 20  폐업일자       436805 non-null  datetime64[ns]
 21  도로명주소      436805 non-null  object
 22  시장_위도      436805 non-null  float64
 23  시장_경도      436805 non-null  float64
dtypes: datetime64[ns](2), float64(6), int64(7), object(9)
memory usage: 83.3+ MB

In [160]:
pip install geopy

Requirement already satisfied: geopy in /Users/heenakoo/opt/anaconda3/lib/python3.9/site-packages (2.3.0)
Requirement already satisfied: geographiclib<3,>=1.52 in /Users/heenakoo/opt/anaconda3/lib/python3.9/site-packages (from geopy) (2.0)
Note: you may need to restart the kernel to use updated packages.

In [161]:
from geopy.distance import geodesic
from tqdm import tqdm
def calculate_distance(row):
    try:
        return geodesic((row['Latitude'], row['Longitude']), (row['시장_위도'], row['시장_경도'])).kilometers
    except (ValueError, TypeError):
        return None
tqdm.pandas()
df1['전통시장 개수'] = df1.apply(calculate_distance, axis=1)

In [162]:
df1

,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소_x,계약시작,계약종료,...,스타벅스 지점수,미쉐린 지점수,맥도날드 지점수,대규모점포 개수,인허가일자,폐업일자,도로명주소,시장_위도,시장_경도,전통시장 개수
0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,...,0,0,0,0,1974-11-10,2023-01-02,서울특별시 강남구 압구정로2길 46,37.518771,127.020669,5.747537
1,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,...,0,0,0,0,1979-01-17,2023-01-02,서울특별시 강남구 봉은사로33길 33,37.510018,127.034777,4.329778
2,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,...,0,0,0,0,1980-05-19,2023-01-02,서울특별시 강남구 학동로101길 26,37.522305,127.057736,5.410192
3,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,...,0,0,0,0,1988-05-13,2023-01-02,서울특별시 강남구 남부순환로 2921,37.493606,127.059700,2.291433
4,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,...,0,0,0,0,2011-06-23,2023-01-02,서울특별시 강남구 강남대로124길 22,37.509167,127.024584,4.655067
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436800,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,...,1,2,1,0,1974-11-10,2023-01-02,서울특별시 강남구 압구정로2길 46,37.518771,127.020669,2.771513
436801,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,...,1,2,1,0,1979-01-17,2023-01-02,서울특별시 강남구 봉은사로33길 33,37.510018,127.034777,1.198548
436802,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,...,1,2,1,0,1980-05-19,2023-01-02,서울특별시 강남구 학동로101길 26,37.522305,127.057736,2.541723
436803,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,...,1,2,1,0,1988-05-13,2023-01-02,서울특별시 강남구 남부순환로 2921,37.493606,127.059700,1.676537
436804,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,...,1,2,1,0,2011-06-23,2023-01-02,서울특별시 강남구 강남대로124길 22,37.509167,127.024584,1.890560

In [163]:
# 메인 전세 매물 도로명주소를 기준으로 전통시장 개수가 몇 개인지 카운팅
df1.groupby(['도로명주소_x'])['전통시장 개수'].count()

도로명주소_x
서울특별시 강남구               5775
서울특별시 강남구 강남대로 240       350
서울특별시 강남구 강남대로 256       335
서울특별시 강남구 강남대로 272        85
서울특별시 강남구 강남대로 324       260
                        ...
서울특별시 강남구 헌릉로590길 88     545
서울특별시 강남구 헌릉로618길         95
서울특별시 강남구 헌릉로622길         15
서울특별시 강남구 헌릉로637길         70
서울특별시 강남구 헌릉로645길         35
Name: 전통시장 개수, Length: 3729, dtype: int64

In [164]:
df1

,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소_x,계약시작,계약종료,...,스타벅스 지점수,미쉐린 지점수,맥도날드 지점수,대규모점포 개수,인허가일자,폐업일자,도로명주소,시장_위도,시장_경도,전통시장 개수
0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,...,0,0,0,0,1974-11-10,2023-01-02,서울특별시 강남구 압구정로2길 46,37.518771,127.020669,5.747537
1,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,...,0,0,0,0,1979-01-17,2023-01-02,서울특별시 강남구 봉은사로33길 33,37.510018,127.034777,4.329778
2,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,...,0,0,0,0,1980-05-19,2023-01-02,서울특별시 강남구 학동로101길 26,37.522305,127.057736,5.410192
3,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,...,0,0,0,0,1988-05-13,2023-01-02,서울특별시 강남구 남부순환로 2921,37.493606,127.059700,2.291433
4,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,...,0,0,0,0,2011-06-23,2023-01-02,서울특별시 강남구 강남대로124길 22,37.509167,127.024584,4.655067
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436800,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,...,1,2,1,0,1974-11-10,2023-01-02,서울특별시 강남구 압구정로2길 46,37.518771,127.020669,2.771513
436801,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,...,1,2,1,0,1979-01-17,2023-01-02,서울특별시 강남구 봉은사로33길 33,37.510018,127.034777,1.198548
436802,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,...,1,2,1,0,1980-05-19,2023-01-02,서울특별시 강남구 학동로101길 26,37.522305,127.057736,2.541723
436803,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,...,1,2,1,0,1988-05-13,2023-01-02,서울특별시 강남구 남부순환로 2921,37.493606,127.059700,1.676537
436804,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,...,1,2,1,0,2011-06-23,2023-01-02,서울특별시 강남구 강남대로124길 22,37.509167,127.024584,1.890560

In [165]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 436805 entries, 0 to 436804
Data columns (total 25 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   시군구        436805 non-null  object
 1   전월세구분      436805 non-null  object
 2   보증금(만원)    436805 non-null  int64
 3   건축년도       436805 non-null  int64
 4   구분         436805 non-null  object
 5   전용면적(㎡)    436805 non-null  float64
 6   층          436805 non-null  float64
 7   도로명주소_x    436805 non-null  object
 8   계약시작       125345 non-null  object
 9   계약종료       125345 non-null  object
 10  계약년월일      436805 non-null  object
 11  구          436805 non-null  object
 12  건축나이       436805 non-null  int64
 13  Latitude   436805 non-null  float64
 14  Longitude  436805 non-null  float64
 15  스타벅스 지점수   436805 non-null  int64
 16  미쉐린 지점수    436805 non-null  int64
 17  맥도날드 지점수   436805 non-null  int64
 18  대규모점포 개수   436805 non-null  int64
 19  인허가일자      436805 non-null  datetime64[ns]
 20  폐업일자       436805 non-null  datetime64[ns]
 21  도로명주소      436805 non-null  object
 22  시장_위도      436805 non-null  float64
 23  시장_경도      436805 non-null  float64
 24  전통시장 개수    436805 non-null  float64
dtypes: datetime64[ns](2), float64(7), int64(7), object(9)
memory usage: 86.6+ MB

In [166]:
# 강남구 전통시장 개수 반올림
df1['전통시장 개수'] = df1['전통시장 개수'].round(0)

In [170]:
# 전통시장 모든 셀에 lambda 함수를 적용하여 0을 제거
df1['전통시장 개수'] = df1['전통시장 개수'].apply(lambda x: int(x) if x == int(x) else x)

In [171]:
df1

,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소_x,계약시작,계약종료,...,스타벅스 지점수,미쉐린 지점수,맥도날드 지점수,대규모점포 개수,인허가일자,폐업일자,도로명주소,시장_위도,시장_경도,전통시장 개수
0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,...,0,0,0,0,1974-11-10,2023-01-02,서울특별시 강남구 압구정로2길 46,37.518771,127.020669,6
1,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,...,0,0,0,0,1979-01-17,2023-01-02,서울특별시 강남구 봉은사로33길 33,37.510018,127.034777,4
2,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,...,0,0,0,0,1980-05-19,2023-01-02,서울특별시 강남구 학동로101길 26,37.522305,127.057736,5
3,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,...,0,0,0,0,1988-05-13,2023-01-02,서울특별시 강남구 남부순환로 2921,37.493606,127.059700,2
4,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,...,0,0,0,0,2011-06-23,2023-01-02,서울특별시 강남구 강남대로124길 22,37.509167,127.024584,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436800,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,...,1,2,1,0,1974-11-10,2023-01-02,서울특별시 강남구 압구정로2길 46,37.518771,127.020669,3
436801,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,...,1,2,1,0,1979-01-17,2023-01-02,서울특별시 강남구 봉은사로33길 33,37.510018,127.034777,1
436802,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,...,1,2,1,0,1980-05-19,2023-01-02,서울특별시 강남구 학동로101길 26,37.522305,127.057736,3
436803,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,...,1,2,1,0,1988-05-13,2023-01-02,서울특별시 강남구 남부순환로 2921,37.493606,127.059700,2
436804,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,NaN,NaN,...,1,2,1,0,2011-06-23,2023-01-02,서울특별시 강남구 강남대로124길 22,37.509167,127.024584,2

In [172]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 436805 entries, 0 to 436804
Data columns (total 25 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   시군구        436805 non-null  object
 1   전월세구분      436805 non-null  object
 2   보증금(만원)    436805 non-null  int64
 3   건축년도       436805 non-null  int64
 4   구분         436805 non-null  object
 5   전용면적(㎡)    436805 non-null  float64
 6   층          436805 non-null  float64
 7   도로명주소_x    436805 non-null  object
 8   계약시작       125345 non-null  object
 9   계약종료       125345 non-null  object
 10  계약년월일      436805 non-null  object
 11  구          436805 non-null  object
 12  건축나이       436805 non-null  int64
 13  Latitude   436805 non-null  float64
 14  Longitude  436805 non-null  float64
 15  스타벅스 지점수   436805 non-null  int64
 16  미쉐린 지점수    436805 non-null  int64
 17  맥도날드 지점수   436805 non-null  int64
 18  대규모점포 개수   436805 non-null  int64
 19  인허가일자      436805 non-null  datetime64[ns]
 20  폐업일자       436805 non-null  datetime64[ns]
 21  도로명주소      436805 non-null  object
 22  시장_위도      436805 non-null  float64
 23  시장_경도      436805 non-null  float64
 24  전통시장 개수    436805 non-null  int64
dtypes: datetime64[ns](2), float64(6), int64(8), object(9)
memory usage: 86.6+ MB

In [101]:
df1.to_csv('./data_1/강남구_메인+전통시장(8일 최종본).csv')