In [3]:
df = pd.read_csv('./통합데이터/강남구전세데이터_마지막.csv', encoding='utf-8')
df.head()

,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소_x,계약시작,계약종료,계약년월일,건축나이,...,행정구,행정구코드,스타벅스 개수_y,미쉐린 개수,맥도날드 개수,대규모점포 개수,전통시장 개수,역세권 개수,금리,유치원 개수
0,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,34,...,개포동,0,0,0,0,0,0,0,4.04,2
1,14333,1991,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-10-01,2024-10-01,2022-10-05,32,...,개포동,0,0,0,0,0,0,0,4.82,2
2,17115,1991,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-07-01,2024-07-01,2022-07-07,32,...,개포동,0,0,0,0,0,0,0,4.16,2
3,17640,1991,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-07-01,2024-07-01,2022-07-07,32,...,개포동,0,0,0,0,0,0,0,4.16,2
4,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,34,...,개포동,0,0,0,0,0,0,0,4.04,2

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87361 entries, 0 to 87360
Data columns (total 22 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   보증금(만원)    87361 non-null  int64
 1   건축년도       87361 non-null  int64
 2   구분         87361 non-null  object
 3   전용면적(㎡)    87361 non-null  float64
 4   층          87361 non-null  float64
 5   도로명주소_x    87361 non-null  object
 6   계약시작       25069 non-null  object
 7   계약종료       25069 non-null  object
 8   계약년월일      87361 non-null  object
 9   건축나이       87361 non-null  int64
 10  Latitude   87361 non-null  float64
 11  Longitude  87361 non-null  float64
 12  행정구        87361 non-null  object
 13  행정구코드      87361 non-null  int64
 14  스타벅스 개수_y  87361 non-null  int64
 15  미쉐린 개수     87361 non-null  int64
 16  맥도날드 개수    87361 non-null  int64
 17  대규모점포 개수   87361 non-null  int64
 18  전통시장 개수    87361 non-null  int64
 19  역세권 개수     87361 non-null  int64
 20  금리         87361 non-null  float64
 21  유치원 개수     87361 non-null  int64
dtypes: float64(5), int64(11), object(6)
memory usage: 14.7+ MB

In [5]:
df.drop(['계약시작','계약종료'], axis=1, inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87361 entries, 0 to 87360
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   보증금(만원)    87361 non-null  int64
 1   건축년도       87361 non-null  int64
 2   구분         87361 non-null  object
 3   전용면적(㎡)    87361 non-null  float64
 4   층          87361 non-null  float64
 5   도로명주소_x    87361 non-null  object
 6   계약년월일      87361 non-null  object
 7   건축나이       87361 non-null  int64
 8   Latitude   87361 non-null  float64
 9   Longitude  87361 non-null  float64
 10  행정구        87361 non-null  object
 11  행정구코드      87361 non-null  int64
 12  스타벅스 개수_y  87361 non-null  int64
 13  미쉐린 개수     87361 non-null  int64
 14  맥도날드 개수    87361 non-null  int64
 15  대규모점포 개수   87361 non-null  int64
 16  전통시장 개수    87361 non-null  int64
 17  역세권 개수     87361 non-null  int64
 18  금리         87361 non-null  float64
 19  유치원 개수     87361 non-null  int64
dtypes: float64(5), int64(11), object(4)
memory usage: 13.3+ MB

In [7]:
df.rename(columns={'보증금(만원)':'y', '건축년도':'YearBuilt','구분':'Type',
                  '전용면적(㎡)':'Area','층':'Floor','도로명주소_x':'Address',
                  '계약년월일':'Cont_Date','건축나이':'Age','행정구':'Admin_District',
                  '행정구코드':'AD_Code','스타벅스 개수_y':'Star_Cnt',
                  '미쉐린 개수':'Michelin_Cnt','맥도날드 개수':'Mc_cnt',
                  '대규모점포 개수':'Bigstore_cnt','전통시장 개수':'Market_cnt',
                  '역세권 개수':'Subway_cnt','금리':'InterestRate',
                  '유치원 개수':'Kinder_cnt'}, inplace=True)

In [8]:
df

,y,YearBuilt,Type,Area,Floor,Address,Cont_Date,Age,Latitude,Longitude,Admin_District,AD_Code,Star_Cnt,Michelin_Cnt,Mc_cnt,Bigstore_cnt,Market_cnt,Subway_cnt,InterestRate,Kinder_cnt
0,7500,1989,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-06-01,34,37.473722,127.052725,개포동,0,0,0,0,0,0,0,4.04,2
1,14333,1991,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-10-05,32,37.473722,127.052725,개포동,0,0,0,0,0,0,0,4.82,2
2,17115,1991,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-07-07,32,37.473722,127.052725,개포동,0,0,0,0,0,0,0,4.16,2
3,17640,1991,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-07-07,32,37.473722,127.052725,개포동,0,0,0,0,0,0,0,4.16,2
4,7500,1989,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-06-01,34,37.473722,127.052725,개포동,0,0,0,0,0,0,0,4.04,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87356,45000,2004,오피스텔,66.64,8.0,서울특별시 강남구 역삼로 432,2019-07-22,19,37.501439,127.054330,대치동,2,3,1,1,1,0,0,2.64,1
87357,38000,2005,오피스텔,43.68,5.0,서울특별시 강남구 압구정로 461,2019-06-21,18,37.525283,127.047239,청담동,13,3,17,0,2,0,0,2.74,1
87358,23500,2014,오피스텔,31.57,5.0,서울특별시 강남구 도산대로 406,2019-07-20,9,37.522821,127.039963,청담동,13,3,31,1,2,0,0,2.64,0
87359,3000,2020,오피스텔,29.51,6.0,서울특별시 강남구 논현로20길 12,2020-09-08,3,37.478097,127.045854,개포동,0,1,0,0,0,0,0,2.44,1
87360,17000,2003,오피스텔,29.40,7.0,서울특별시 강남구 언주로 432-10,2020-11-25,20,37.502156,127.044070,역삼동,9,9,2,1,0,0,0,2.56,0

In [9]:
df = df[['AD_Code', 'Admin_District', 'Area', 'YearBuilt', 'Type',
       'Floor', 'Address', 'Cont_Date', 'Age', 'Latitude', 'Longitude',
       'Star_Cnt', 'Michelin_Cnt', 'Mc_cnt', 'Bigstore_cnt', 'InterestRate',
       'Market_cnt', 'Subway_cnt', 'Kinder_cnt', 'y']]
df

,AD_Code,Admin_District,Area,YearBuilt,Type,Floor,Address,Cont_Date,Age,Latitude,Longitude,Star_Cnt,Michelin_Cnt,Mc_cnt,Bigstore_cnt,InterestRate,Market_cnt,Subway_cnt,Kinder_cnt,y
0,0,개포동,44.00,1989,단독다가구,3.0,서울특별시 강남구 논현로4길,2022-06-01,34,37.473722,127.052725,0,0,0,0,4.04,0,0,2,7500
1,0,개포동,44.00,1991,단독다가구,3.0,서울특별시 강남구 논현로4길,2022-10-05,32,37.473722,127.052725,0,0,0,0,4.82,0,0,2,14333
2,0,개포동,44.00,1991,단독다가구,3.0,서울특별시 강남구 논현로4길,2022-07-07,32,37.473722,127.052725,0,0,0,0,4.16,0,0,2,17115
3,0,개포동,44.00,1991,단독다가구,3.0,서울특별시 강남구 논현로4길,2022-07-07,32,37.473722,127.052725,0,0,0,0,4.16,0,0,2,17640
4,0,개포동,44.00,1989,단독다가구,3.0,서울특별시 강남구 논현로4길,2022-06-01,34,37.473722,127.052725,0,0,0,0,4.04,0,0,2,7500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87356,2,대치동,66.64,2004,오피스텔,8.0,서울특별시 강남구 역삼로 432,2019-07-22,19,37.501439,127.054330,3,1,1,1,2.64,0,0,1,45000
87357,13,청담동,43.68,2005,오피스텔,5.0,서울특별시 강남구 압구정로 461,2019-06-21,18,37.525283,127.047239,3,17,0,2,2.74,0,0,1,38000
87358,13,청담동,31.57,2014,오피스텔,5.0,서울특별시 강남구 도산대로 406,2019-07-20,9,37.522821,127.039963,3,31,1,2,2.64,0,0,0,23500
87359,0,개포동,29.51,2020,오피스텔,6.0,서울특별시 강남구 논현로20길 12,2020-09-08,3,37.478097,127.045854,1,0,0,0,2.44,0,0,1,3000
87360,9,역삼동,29.40,2003,오피스텔,7.0,서울특별시 강남구 언주로 432-10,2020-11-25,20,37.502156,127.044070,9,2,1,0,2.56,0,0,0,17000

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87361 entries, 0 to 87360
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   AD_Code         87361 non-null  int64
 1   Admin_District  87361 non-null  object
 2   Area            87361 non-null  float64
 3   YearBuilt       87361 non-null  int64
 4   Type            87361 non-null  object
 5   Floor           87361 non-null  float64
 6   Address         87361 non-null  object
 7   Cont_Date       87361 non-null  object
 8   Age             87361 non-null  int64
 9   Latitude        87361 non-null  float64
 10  Longitude       87361 non-null  float64
 11  Star_Cnt        87361 non-null  int64
 12  Michelin_Cnt    87361 non-null  int64
 13  Mc_cnt          87361 non-null  int64
 14  Bigstore_cnt    87361 non-null  int64
 15  InterestRate    87361 non-null  float64
 16  Market_cnt      87361 non-null  int64
 17  Subway_cnt      87361 non-null  int64
 18  Kinder_cnt      87361 non-null  int64
 19  y               87361 non-null  int64
dtypes: float64(5), int64(11), object(4)
memory usage: 13.3+ MB

In [11]:
df.to_csv('./통합데이터/강남구전세데이터_찐마지막.csv', index = False, encoding='utf-8')