# 역세권 데이터셋 붙이기

In [1]:
import pandas as pd

df_main = pd.read_csv('강남구전세처음부터+스벅+미슐랭+맥날+대규모점포+전통시장.csv')
df_main

,level_0,index,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소_x,...,Latitude,Longitude,행정구,행정구코드,스타벅스 개수_y,미쉐린 개수,맥도날드 개수,__dummy_key,대규모점포 개수,전통시장 개수
0,0,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,...,37.473722,127.052725,개포동,0,0,0,0,0,0,0
1,1,1,서울특별시 강남구 개포동,전세,14333,1991,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,...,37.473722,127.052725,개포동,0,0,0,0,0,0,0
2,2,2,서울특별시 강남구 개포동,전세,17115,1991,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,...,37.473722,127.052725,개포동,0,0,0,0,0,0,0
3,3,3,서울특별시 강남구 개포동,전세,17640,1991,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,...,37.473722,127.052725,개포동,0,0,0,0,0,0,0
4,4,4,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,...,37.473722,127.052725,개포동,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87356,87356,87356,서울특별시 강남구 대치동,전세,45000,2004,오피스텔,66.64,8.0,서울특별시 강남구 역삼로 432,...,37.501439,127.054330,대치동,2,3,1,1,0,1,0
87357,87357,87357,서울특별시 강남구 청담동,전세,38000,2005,오피스텔,43.68,5.0,서울특별시 강남구 압구정로 461,...,37.525283,127.047239,청담동,13,3,17,0,0,2,0
87358,87358,87358,서울특별시 강남구 청담동,전세,23500,2014,오피스텔,31.57,5.0,서울특별시 강남구 도산대로 406,...,37.522821,127.039963,청담동,13,3,31,1,0,2,0
87359,87359,87359,서울특별시 강남구 개포동,전세,3000,2020,오피스텔,29.51,6.0,서울특별시 강남구 논현로20길 12,...,37.478097,127.045854,개포동,0,1,0,0,0,0,0
87360,87360,87360,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.40,7.0,서울특별시 강남구 언주로 432-10,...,37.502156,127.044070,역삼동,9,9,2,1,0,0,0

In [2]:
df_main['계약년월일'] = pd.to_datetime(df_main['계약년월일'], format='%Y-%m-%d', errors='coerce')
df_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87361 entries, 0 to 87360
Data columns (total 25 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   level_0      87361 non-null  int64
 1   index        87361 non-null  int64
 2   시군구          87361 non-null  object
 3   전월세구분        87361 non-null  object
 4   보증금(만원)      87361 non-null  int64
 5   건축년도         87361 non-null  int64
 6   구분           87361 non-null  object
 7   전용면적(㎡)      87361 non-null  float64
 8   층            87361 non-null  float64
 9   도로명주소_x      87361 non-null  object
 10  계약시작         25069 non-null  object
 11  계약종료         25069 non-null  object
 12  계약년월일        87361 non-null  datetime64[ns]
 13  구            87361 non-null  object
 14  건축나이         87361 non-null  int64
 15  Latitude     87361 non-null  float64
 16  Longitude    87361 non-null  float64
 17  행정구          87361 non-null  object
 18  행정구코드        87361 non-null  int64
 19  스타벅스 개수_y    87361 non-null  int64
 20  미쉐린 개수       87361 non-null  int64
 21  맥도날드 개수      87361 non-null  int64
 22  __dummy_key  87361 non-null  int64
 23  대규모점포 개수     87361 non-null  int64
 24  전통시장 개수      87361 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(12), object(8)
memory usage: 16.7+ MB

In [4]:
import pandas as pd

df_subway = pd.read_csv('역세권.csv',)
df_subway

,역사_ID,역명,호선_x,위도,경도,철도운영기관명,호선_y,지번주소,도로명주소
0,4307,강남,신분당선,37.496837,127.028104,서울교통공사,2호선,서울특별시 강남구 역삼동 858 강남역(2호선),서울특별시 강남구 강남대로 지하396(역삼동)
1,4306,신논현,신분당선(연장2),37.504598,127.025060,서울9호선,9호선,서울특별시 강남구 역삼동 800,서울특별시 강남구 봉은사로 102
2,4305,논현,신분당선(연장2),37.511093,127.021415,서울교통공사,7호선,서울특별시 강남구 논현동 279-67 논현역(7호선),서울특별시 강남구 학동로 지하102(논현동)
3,4304,신사,신분당선(연장2),37.516334,127.020114,서울교통공사,3호선,서울특별시 강남구 신사동 667 신사역(3호선),서울특별시 강남구 도산대로 지하102(신사동)
4,4129,봉은사,9호선(연장),37.514219,127.060245,서울9호선,9호선,서울특별시 강남구 삼성동 172,서울특별시 강남구 봉은사로 601
5,4128,삼성중앙,9호선(연장),37.513011,127.053282,서울9호선,9호선,서울특별시 강남구 삼성동 111-147,서울특별시 강남구 봉은사로 501
6,4127,선정릉,9호선(연장),37.510297,127.043999,서울9호선,9호선,서울특별시 강남구 삼성동 111-114,서울특별시 강남구 선릉로 580
7,4126,언주,9호선(연장),37.507287,127.033868,서울9호선,9호선,서울특별시 강남구 논현동 279-165,서울특별시 강남구 봉은사로 201
8,2733,학동,7호선,37.514229,127.031656,서울교통공사,7호선,서울특별시 강남구 논현동 279-67 학동역(7호선),서울특별시 강남구 학동로 지하180(논현동)
9,2732,강남구청,7호선,37.517179,127.041255,서울교통공사,7호선,서울특별시 강남구 삼성동 111-44 강남구청역(7호선),서울특별시 강남구 학동로 지하346(삼성동)
10,2731,청담,7호선,37.519365,127.053350,서울교통공사,7호선,서울특별시 강남구 청담동 77-76 청담역(7호선),서울특별시 강남구 학동로 지하508(청담동)
11,1848,압구정로데오,분당선,37.527381,127.040534,코레일,수인분당,서울특별시 강남구 압구정동 495,서울시 강남구 압구정로 지하 402
12,1030,수서,분당선,37.487472,127.101422,서울교통공사,3호선,서울특별시 강남구 수서동 728 수서역(3호선),서울특별시 강남구 광평로 지하270(수서동)
13,1028,대모산입구,분당선,37.491373,127.072720,코레일,수인분당,서울시 강남구 일원동 700-1,서울시 강남구 개포로 522
14,1027,개포동,분당선,37.489116,127.066140,코레일,수인분당,서울시 강남구 개포동 181-2,서울시 강남구 개포로 지하420
15,1026,구룡,분당선,37.486839,127.058856,코레일,수인분당,서울특별시 강남구 개포동 175-3,서울특별시 강남구 개포로 지하 403
16,1025,도곡,분당선,37.491224,127.055186,서울교통공사,3호선,서울특별시 강남구 도곡동 339-2 도곡역(3호선),서울특별시 강남구 남부순환로 지하2814(도곡동)
17,1024,한티,분당선,37.496237,127.052873,코레일,수인분당,서울특별시 강남구 대치동 1011-28,서울특별시 강남구 선릉로 228 지하1층
18,1023,선릉,분당선,37.504856,127.048807,서울교통공사,2호선,서울특별시 강남구 삼성동 172-66 선릉역(2호선),서울특별시 강남구 테헤란로 지하340(삼성동)
19,338,일원,3호선,37.483681,127.084390,서울교통공사,3호선,서울특별시 강남구 일원동 717 일원역(3호선),서울특별시 강남구 일원로 지하121(일원동)
20,337,대청,3호선,37.493514,127.079532,서울교통공사,3호선,서울특별시 강남구 일원동 700-9 대청역(3호선),서울특별시 강남구 일원로 지하2(일원동)
21,336,학여울,3호선,37.496663,127.070594,서울교통공사,3호선,서울특별시 강남구 대치동 514-3 학여울역(3호선),서울특별시 강남구 남부순환로 지하3104(대치동)
22,335,대치,3호선,37.494612,127.063642,서울교통공사,3호선,서울특별시 강남구 대치동 317-3 대치역(3호선),서울특별시 강남구 남부순환로 지하2952(대치동)
23,333,매봉,3호선,37.486947,127.046769,서울교통공사,3호선,서울특별시 강남구 도곡동 179-2 매봉역(3호선),서울특별시 강남구 남부순환로 지하2744(도곡동)
24,326,압구정,3호선,37.527072,127.028461,서울교통공사,3호선,서울특별시 강남구 신사동 668 압구정역(3호선),서울특별시 강남구 압구정로 지하172(신사동)
25,221,역삼,2호선,37.500622,127.036456,서울교통공사,2호선,서울특별시 강남구 역삼동 804 역삼역(2호선),서울특별시 강남구 테헤란로 지하156(역삼동)
26,219,삼성,2호선,37.508844,127.063160,서울교통공사,2호선,서울특별시 강남구 삼성동 172-66 삼성역(2호선),서울특별시 강남구 테헤란로 지하538(삼성동)

In [5]:
df_subway = df_subway.rename(columns={'위도':'역세권위도', '경도':'역세권경도'})
df_subway.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   역사_ID    27 non-null     int64
 1   역명       27 non-null     object
 2   호선_x     27 non-null     object
 3   역세권위도    27 non-null     float64
 4   역세권경도    27 non-null     float64
 5   철도운영기관명  27 non-null     object
 6   호선_y     27 non-null     object
 7   지번주소     27 non-null     object
 8   도로명주소    27 non-null     object
dtypes: float64(2), int64(1), object(6)
memory usage: 2.0+ KB

In [6]:
df_subway = df_subway[['역세권위도','역세권경도']]
df_subway.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   역세권위도   27 non-null     float64
 1   역세권경도   27 non-null     float64
dtypes: float64(2)
memory usage: 560.0 bytes

In [8]:
df = pd.merge(df_main, df_subway, how='cross')
df

,level_0,index,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소_x,...,행정구,행정구코드,스타벅스 개수_y,미쉐린 개수,맥도날드 개수,__dummy_key,대규모점포 개수,전통시장 개수,역세권위도,역세권경도
0,0,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,...,개포동,0,0,0,0,0,0,0,37.496837,127.028104
1,0,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,...,개포동,0,0,0,0,0,0,0,37.504598,127.025060
2,0,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,...,개포동,0,0,0,0,0,0,0,37.511093,127.021415
3,0,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,...,개포동,0,0,0,0,0,0,0,37.516334,127.020114
4,0,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,...,개포동,0,0,0,0,0,0,0,37.514219,127.060245
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2358742,87360,87360,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,...,역삼동,9,9,2,1,0,0,0,37.494612,127.063642
2358743,87360,87360,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,...,역삼동,9,9,2,1,0,0,0,37.486947,127.046769
2358744,87360,87360,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,...,역삼동,9,9,2,1,0,0,0,37.527072,127.028461
2358745,87360,87360,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,...,역삼동,9,9,2,1,0,0,0,37.500622,127.036456
2358746,87360,87360,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,...,역삼동,9,9,2,1,0,0,0,37.508844,127.063160

In [9]:
(df[['index','도로명주소_x']].duplicated()==False).sum()
##### Good!!!!!!!

87361

In [10]:
pip install tqdm

Requirement already satisfied: tqdm in /Users/haneul/anaconda3/lib/python3.10/site-packages (4.64.1)
Note: you may need to restart the kernel to use updated packages.

In [13]:
from geopy.distance import geodesic
from tqdm import tqdm
import pandas as pd

def calculate_distance(row):
    try:
        return geodesic((row['Latitude'], row['Longitude']), (row['역세권위도'], row['역세권경도'])).kilometers
    except (ValueError, TypeError):
        return None

# Create a new column with calculated distances
tqdm.pandas()  # Enable tqdm on pandas operations
df['역세권 개수'] = df.progress_apply(calculate_distance, axis=1)

df.head()

100%|██████████████████████████████| 2358747/2358747 [03:06<00:00, 12658.64it/s]

,level_0,index,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소_x,...,행정구코드,스타벅스 개수_y,미쉐린 개수,맥도날드 개수,__dummy_key,대규모점포 개수,전통시장 개수,역세권위도,역세권경도,역세권 개수
0,0,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,...,0,0,0,0,0,0,0,37.496837,127.028104,3.364995
1,0,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,...,0,0,0,0,0,0,0,37.504598,127.025060,4.210590
2,0,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,...,0,0,0,0,0,0,0,37.511093,127.021415,4.986969
3,0,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,...,0,0,0,0,0,0,0,37.516334,127.020114,5.539249
4,0,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,...,0,0,0,0,0,0,0,37.514219,127.060245,4.543546

In [14]:
df

,level_0,index,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소_x,...,행정구코드,스타벅스 개수_y,미쉐린 개수,맥도날드 개수,__dummy_key,대규모점포 개수,전통시장 개수,역세권위도,역세권경도,역세권 개수
0,0,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,...,0,0,0,0,0,0,0,37.496837,127.028104,3.364995
1,0,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,...,0,0,0,0,0,0,0,37.504598,127.025060,4.210590
2,0,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,...,0,0,0,0,0,0,0,37.511093,127.021415,4.986969
3,0,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,...,0,0,0,0,0,0,0,37.516334,127.020114,5.539249
4,0,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,...,0,0,0,0,0,0,0,37.514219,127.060245,4.543546
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2358742,87360,87360,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,...,9,9,2,1,0,0,0,37.494612,127.063642,1.922577
2358743,87360,87360,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,...,9,9,2,1,0,0,0,37.486947,127.046769,1.704819
2358744,87360,87360,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,...,9,9,2,1,0,0,0,37.527072,127.028461,3.090539
2358745,87360,87360,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,...,9,9,2,1,0,0,0,37.500622,127.036456,0.694495
2358746,87360,87360,서울특별시 강남구 역삼동,전세,17000,2003,오피스텔,29.4,7.0,서울특별시 강남구 언주로 432-10,...,9,9,2,1,0,0,0,37.508844,127.063160,1.843877

In [15]:
df['역세권 개수'] = df['역세권 개수'].apply(lambda x: round(x, 2))

In [16]:
df.groupby(['index','도로명주소_x'])['역세권 개수'].count()

index  도로명주소_x
0      서울특별시 강남구 논현로4길         27
1      서울특별시 강남구 논현로4길         27
2      서울특별시 강남구 논현로4길         27
3      서울특별시 강남구 논현로4길         27
4      서울특별시 강남구 논현로4길         27
                               ..
87356  서울특별시 강남구 역삼로 432       27
87357  서울특별시 강남구 압구정로 461      27
87358  서울특별시 강남구 도산대로 406      27
87359  서울특별시 강남구 논현로20길 12     27
87360  서울특별시 강남구 언주로 432-10    27
Name: 역세권 개수, Length: 87361, dtype: int64

In [17]:
def count_subway(series):
    return (series<=0.5).sum()
    
  

df_groupby = df.groupby(['index','도로명주소_x'])['역세권 개수'].agg(count_subway)

In [18]:
df_groupby = pd.DataFrame(df_groupby)
df_groupby

                            역세권 개수
index 도로명주소_x
0     서울특별시 강남구 논현로4길            0
1     서울특별시 강남구 논현로4길            0
2     서울특별시 강남구 논현로4길            0
3     서울특별시 강남구 논현로4길            0
4     서울특별시 강남구 논현로4길            0
...                            ...
87356 서울특별시 강남구 역삼로 432          0
87357 서울특별시 강남구 압구정로 461         0
87358 서울특별시 강남구 도산대로 406         0
87359 서울특별시 강남구 논현로20길 12        0
87360 서울특별시 강남구 언주로 432-10       0

[87361 rows x 1 columns]

In [19]:
df_groupby.reset_index(drop=False, inplace=True)

In [20]:
df_groupby

       index               도로명주소_x  역세권 개수
0          0       서울특별시 강남구 논현로4길       0
1          1       서울특별시 강남구 논현로4길       0
2          2       서울특별시 강남구 논현로4길       0
3          3       서울특별시 강남구 논현로4길       0
4          4       서울특별시 강남구 논현로4길       0
...      ...                   ...     ...
87356  87356     서울특별시 강남구 역삼로 432       0
87357  87357    서울특별시 강남구 압구정로 461       0
87358  87358    서울특별시 강남구 도산대로 406       0
87359  87359   서울특별시 강남구 논현로20길 12       0
87360  87360  서울특별시 강남구 언주로 432-10       0

[87361 rows x 3 columns]

In [21]:
(df_main['도로명주소_x']==df_groupby['도로명주소_x']).all()

True

In [22]:
df_main = pd.concat([df_main, df_groupby['역세권 개수']], axis=1)

In [23]:
df_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87361 entries, 0 to 87360
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   level_0      87361 non-null  int64
 1   index        87361 non-null  int64
 2   시군구          87361 non-null  object
 3   전월세구분        87361 non-null  object
 4   보증금(만원)      87361 non-null  int64
 5   건축년도         87361 non-null  int64
 6   구분           87361 non-null  object
 7   전용면적(㎡)      87361 non-null  float64
 8   층            87361 non-null  float64
 9   도로명주소_x      87361 non-null  object
 10  계약시작         25069 non-null  object
 11  계약종료         25069 non-null  object
 12  계약년월일        87361 non-null  datetime64[ns]
 13  구            87361 non-null  object
 14  건축나이         87361 non-null  int64
 15  Latitude     87361 non-null  float64
 16  Longitude    87361 non-null  float64
 17  행정구          87361 non-null  object
 18  행정구코드        87361 non-null  int64
 19  스타벅스 개수_y    87361 non-null  int64
 20  미쉐린 개수       87361 non-null  int64
 21  맥도날드 개수      87361 non-null  int64
 22  __dummy_key  87361 non-null  int64
 23  대규모점포 개수     87361 non-null  int64
 24  전통시장 개수      87361 non-null  int64
 25  역세권 개수       87361 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(13), object(8)
memory usage: 17.3+ MB

In [24]:
df_main['역세권 개수'].value_counts()

1    38518
0    33495
2    11639
3     3709
Name: 역세권 개수, dtype: int64

In [25]:
df_main.to_csv('강남구전세처음부터+스벅+미슐랭+맥날+대규모점포+전통시장+역세권', index=False)