In [1]:
import pandas as pd
# 경고 끄기
import warnings
warnings.filterwarnings('ignore')

import xgboost as xgb
xgb.set_config(verbosity=0)

In [2]:
df1 = pd.read_csv('강남구전세(3차전처리).csv')
df1.drop(columns='Unnamed: 0', inplace=True)
df1

,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소,계약시작,계약종료,계약년월일,구,건축나이
0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34
1,서울특별시 강남구 개포동,전세,11000,1994,단독다가구,44.00,3.0,서울특별시 강남구 논현로10길,2022-05-01,2024-05-01,2022-05-20,강남구,29
2,서울특별시 강남구 개포동,전세,16800,2000,단독다가구,44.00,3.0,서울특별시 강남구 개포로20길,2022-02-01,2024-02-01,2022-01-22,강남구,23
3,서울특별시 강남구 개포동,전세,13000,1989,단독다가구,44.00,3.0,서울특별시 강남구 개포로15길,NaN,NaN,2022-02-18,강남구,34
4,서울특별시 강남구 개포동,전세,8000,1995,단독다가구,44.00,3.0,서울특별시 강남구 논현로6길,2022-07-01,2024-07-01,2022-06-25,강남구,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...
87356,서울특별시 강남구 청담동,전세,10000,2003,오피스텔,17.73,3.0,서울특별시 강남구 학동로 437-6,NaN,NaN,2020-04-11,강남구,20
87357,서울특별시 강남구 청담동,전세,10500,2003,오피스텔,17.73,1.0,서울특별시 강남구 학동로 437-6,NaN,NaN,2020-07-08,강남구,20
87358,서울특별시 강남구 청담동,전세,11000,2003,오피스텔,17.73,1.0,서울특별시 강남구 학동로 437-6,NaN,NaN,2020-07-24,강남구,20
87359,서울특별시 강남구 청담동,전세,13000,1991,오피스텔,22.77,11.0,서울특별시 강남구 도산대로 446,NaN,NaN,2020-09-25,강남구,32
87360,서울특별시 강남구 청담동,전세,80000,2019,오피스텔,45.09,17.0,서울특별시 강남구 영동대로 740,NaN,NaN,2020-08-04,강남구,4

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87361 entries, 0 to 87360
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   시군구      87361 non-null  object
 1   전월세구분    87361 non-null  object
 2   보증금(만원)  87361 non-null  int64
 3   건축년도     87361 non-null  int64
 4   구분       87361 non-null  object
 5   전용면적(㎡)  87361 non-null  float64
 6   층        87361 non-null  float64
 7   도로명주소    87361 non-null  object
 8   계약시작     25069 non-null  object
 9   계약종료     25069 non-null  object
 10  계약년월일    87361 non-null  object
 11  구        87361 non-null  object
 12  건축나이     87361 non-null  int64
dtypes: float64(2), int64(3), object(8)
memory usage: 8.7+ MB

In [4]:
df2 = pd.read_csv('금리.csv')
df2

         금리년월일     금리
0   2018-01-01  1.50%
1   2018-02-01  1.50%
2   2018-03-01  1.50%
3   2018-04-01  1.50%
4   2018-05-01  1.50%
5   2018-06-01  1.50%
6   2018-07-01  1.50%
7   2018-08-01  1.50%
8   2018-09-01  1.50%
9   2018-10-01  1.50%
10  2018-11-01  1.75%
11  2018-12-01  1.75%
12  2019-01-01  1.75%
13  2019-02-01  1.75%
14  2019-03-01  1.75%
15  2019-04-01  1.75%
16  2019-05-01  1.75%
17  2019-06-01  1.75%
18  2019-07-01  1.50%
19  2019-08-01  1.50%
20  2019-09-01  1.50%
21  2019-10-01  1.25%
22  2019-11-01  1.25%
23  2019-12-01  1.25%
24  2020-01-01  1.25%
25  2020-02-01  1.25%
26  2020-03-01  0.75%
27  2020-04-01  0.75%
28  2020-05-01  0.50%
29  2020-06-01  0.50%
30  2020-07-01  0.50%
31  2020-08-01  0.50%
32  2020-09-01  0.50%
33  2020-10-01  0.50%
34  2020-11-01  0.50%
35  2020-12-01  0.50%
36  2021-01-01  0.50%
37  2021-02-01  0.50%
38  2021-03-01  0.50%
39  2021-04-01  0.50%
40  2021-05-01  0.50%
41  2021-06-01  0.50%
42  2021-07-01  0.50%
43  2021-08-01  0.75%
44  2021-09-01  0.75%
45  2021-10-01  0.75%
46  2021-11-01     1%
47  2021-12-01     1%
48  2022-01-01  1.25%
49  2022-02-01  1.25%
50  2022-03-01  1.25%
51  2022-04-01  1.50%
52  2022-05-01  1.75%
53  2022-06-01  1.75%
54  2022-07-01  2.25%
55  2022-08-01  2.50%
56  2022-09-01  2.50%
57  2022-10-01  3.00%
58  2022-11-01  3.25%
59  2022-12-01  3.25%

In [5]:
df1['계약시작'] = pd.to_datetime(df1['계약시작'])
df1['계약시작년월'] = df1['계약시작'].dt.to_period('M')

df1.head()

,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소,계약시작,계약종료,계약년월일,구,건축나이,계약시작년월
0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,2022-06
1,서울특별시 강남구 개포동,전세,11000,1994,단독다가구,44.0,3.0,서울특별시 강남구 논현로10길,2022-05-01,2024-05-01,2022-05-20,강남구,29,2022-05
2,서울특별시 강남구 개포동,전세,16800,2000,단독다가구,44.0,3.0,서울특별시 강남구 개포로20길,2022-02-01,2024-02-01,2022-01-22,강남구,23,2022-02
3,서울특별시 강남구 개포동,전세,13000,1989,단독다가구,44.0,3.0,서울특별시 강남구 개포로15길,NaT,NaN,2022-02-18,강남구,34,NaT
4,서울특별시 강남구 개포동,전세,8000,1995,단독다가구,44.0,3.0,서울특별시 강남구 논현로6길,2022-07-01,2024-07-01,2022-06-25,강남구,28,2022-07

In [6]:
df2['금리년월일'] = pd.to_datetime(df2['금리년월일'])
df2['금리'] = pd.to_numeric(df2['금리'].str.replace('%', ''))
df2['계약시작년월'] = df2['금리년월일'].dt.to_period('M')


df2.drop(columns ='금리년월일', inplace=True)
df2

      금리   계약시작년월
0   1.50  2018-01
1   1.50  2018-02
2   1.50  2018-03
3   1.50  2018-04
4   1.50  2018-05
5   1.50  2018-06
6   1.50  2018-07
7   1.50  2018-08
8   1.50  2018-09
9   1.50  2018-10
10  1.75  2018-11
11  1.75  2018-12
12  1.75  2019-01
13  1.75  2019-02
14  1.75  2019-03
15  1.75  2019-04
16  1.75  2019-05
17  1.75  2019-06
18  1.50  2019-07
19  1.50  2019-08
20  1.50  2019-09
21  1.25  2019-10
22  1.25  2019-11
23  1.25  2019-12
24  1.25  2020-01
25  1.25  2020-02
26  0.75  2020-03
27  0.75  2020-04
28  0.50  2020-05
29  0.50  2020-06
30  0.50  2020-07
31  0.50  2020-08
32  0.50  2020-09
33  0.50  2020-10
34  0.50  2020-11
35  0.50  2020-12
36  0.50  2021-01
37  0.50  2021-02
38  0.50  2021-03
39  0.50  2021-04
40  0.50  2021-05
41  0.50  2021-06
42  0.50  2021-07
43  0.75  2021-08
44  0.75  2021-09
45  0.75  2021-10
46  1.00  2021-11
47  1.00  2021-12
48  1.25  2022-01
49  1.25  2022-02
50  1.25  2022-03
51  1.50  2022-04
52  1.75  2022-05
53  1.75  2022-06
54  2.25  2022-07
55  2.50  2022-08
56  2.50  2022-09
57  3.00  2022-10
58  3.25  2022-11
59  3.25  2022-12

In [7]:
# 데이터프레임 병합
df1 = df1.merge(df2, on=['계약시작년월'], how='left')
df1

,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소,계약시작,계약종료,계약년월일,구,건축나이,계약시작년월,금리
0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,2022-06,1.75
1,서울특별시 강남구 개포동,전세,11000,1994,단독다가구,44.00,3.0,서울특별시 강남구 논현로10길,2022-05-01,2024-05-01,2022-05-20,강남구,29,2022-05,1.75
2,서울특별시 강남구 개포동,전세,16800,2000,단독다가구,44.00,3.0,서울특별시 강남구 개포로20길,2022-02-01,2024-02-01,2022-01-22,강남구,23,2022-02,1.25
3,서울특별시 강남구 개포동,전세,13000,1989,단독다가구,44.00,3.0,서울특별시 강남구 개포로15길,NaT,NaN,2022-02-18,강남구,34,NaT,NaN
4,서울특별시 강남구 개포동,전세,8000,1995,단독다가구,44.00,3.0,서울특별시 강남구 논현로6길,2022-07-01,2024-07-01,2022-06-25,강남구,28,2022-07,2.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87356,서울특별시 강남구 청담동,전세,10000,2003,오피스텔,17.73,3.0,서울특별시 강남구 학동로 437-6,NaT,NaN,2020-04-11,강남구,20,NaT,NaN
87357,서울특별시 강남구 청담동,전세,10500,2003,오피스텔,17.73,1.0,서울특별시 강남구 학동로 437-6,NaT,NaN,2020-07-08,강남구,20,NaT,NaN
87358,서울특별시 강남구 청담동,전세,11000,2003,오피스텔,17.73,1.0,서울특별시 강남구 학동로 437-6,NaT,NaN,2020-07-24,강남구,20,NaT,NaN
87359,서울특별시 강남구 청담동,전세,13000,1991,오피스텔,22.77,11.0,서울특별시 강남구 도산대로 446,NaT,NaN,2020-09-25,강남구,32,NaT,NaN
87360,서울특별시 강남구 청담동,전세,80000,2019,오피스텔,45.09,17.0,서울특별시 강남구 영동대로 740,NaT,NaN,2020-08-04,강남구,4,NaT,NaN

In [8]:
df1['금리'].isnull().sum()

63846

In [9]:
pd.read_csv('외식지표.csv')

,인허가일자,폐업일자,강남구 스타벅스,스타벅스 도로명주소,스타벅스 위도,스타벅스 경도,강남구 미쉐린,미쉐린 도로명주소,미쉐린 위도,미쉐린 경도
0,2021-01-25,NaN,스타벅스 대치한티점,서울특별시 강남구 선릉로 324,37.498523,127.052101,쿠시카와,서울특별시 강남구 논현로 24길 37,37.482785,127.045629
1,2020-12-10,NaN,스타벅스 대치재경빌딩B1,서울특별시 강남구 남부순환로 2947,37.494525,127.062584,에빗,서울특별시 강남구 도곡로 23길 33,37.494428,127.038682
2,2020-09-22,NaN,스타벅스 대치삼성프라자점,서울특별시 강남구 영동대로 237,37.500403,127.066835,피양콩 할마니,서울특별시 강남구 삼성로 81길 30,37.504129,127.055237
3,2019-02-12,NaN,스타벅스 대치재경빌딩R,서울특별시 강남구 남부순환로 2947,37.494525,127.062584,보름쇠,서울특별시 강남구 테헤란로 81길 36,37.509297,127.056550
4,2018-03-21,NaN,스타벅스 선릉동신빌딩R점,서울특별시 강남구 테헤란로 409,37.505493,127.050430,팀호완,서울특별시 강남구 봉은사로 86길 30,37.511413,127.056780
...,...,...,...,...,...,...,...,...,...,...
90,2013-03-12,2020-11-09,스타벅스 삼성역점,서울특별시 강남구 테헤란로103길 9,37.510088,127.063876,NaN,NaN,NaN,NaN
91,2003-04-22,2021-04-02,스타벅스기술센터점,서울특별시 강남구 테헤란로 305,37.503298,127.043648,NaN,NaN,NaN,NaN
92,2006-05-24,2021-07-20,스타벅스수서점,서울특별시 강남구 밤고개로1길 10,37.488016,127.101849,NaN,NaN,NaN,NaN
93,2011-11-10,2022-11-10,스타벅스 차병원사거리,서울특별시 강남구 봉은사로 213,37.508044,127.035373,NaN,NaN,NaN,NaN
94,2009-12-10,2023-01-03,스타벅스 역삼역점,서울특별시 강남구 테헤란로 145,37.500800,127.035156,NaN,NaN,NaN,NaN

In [10]:
df1

,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소,계약시작,계약종료,계약년월일,구,건축나이,계약시작년월,금리
0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,2022-06,1.75
1,서울특별시 강남구 개포동,전세,11000,1994,단독다가구,44.00,3.0,서울특별시 강남구 논현로10길,2022-05-01,2024-05-01,2022-05-20,강남구,29,2022-05,1.75
2,서울특별시 강남구 개포동,전세,16800,2000,단독다가구,44.00,3.0,서울특별시 강남구 개포로20길,2022-02-01,2024-02-01,2022-01-22,강남구,23,2022-02,1.25
3,서울특별시 강남구 개포동,전세,13000,1989,단독다가구,44.00,3.0,서울특별시 강남구 개포로15길,NaT,NaN,2022-02-18,강남구,34,NaT,NaN
4,서울특별시 강남구 개포동,전세,8000,1995,단독다가구,44.00,3.0,서울특별시 강남구 논현로6길,2022-07-01,2024-07-01,2022-06-25,강남구,28,2022-07,2.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87356,서울특별시 강남구 청담동,전세,10000,2003,오피스텔,17.73,3.0,서울특별시 강남구 학동로 437-6,NaT,NaN,2020-04-11,강남구,20,NaT,NaN
87357,서울특별시 강남구 청담동,전세,10500,2003,오피스텔,17.73,1.0,서울특별시 강남구 학동로 437-6,NaT,NaN,2020-07-08,강남구,20,NaT,NaN
87358,서울특별시 강남구 청담동,전세,11000,2003,오피스텔,17.73,1.0,서울특별시 강남구 학동로 437-6,NaT,NaN,2020-07-24,강남구,20,NaT,NaN
87359,서울특별시 강남구 청담동,전세,13000,1991,오피스텔,22.77,11.0,서울특별시 강남구 도산대로 446,NaT,NaN,2020-09-25,강남구,32,NaT,NaN
87360,서울특별시 강남구 청담동,전세,80000,2019,오피스텔,45.09,17.0,서울특별시 강남구 영동대로 740,NaT,NaN,2020-08-04,강남구,4,NaT,NaN

In [11]:
# 1. 원본 데이터셋에 도로명주소를 경도 위도값
# 2. 원본 경도위도, 외식지표 위도 경도

In [22]:
df1.to_csv('강남구전세금리포함.csv')

In [26]:
df2 = df1['도로명주소'].nunique
df2

TypeError: 'method' object is not subscriptable