## 메인 + 금리

In [1]:
import pandas as pd

df_main = pd.read_csv('./main/강남구전세(3차전처리).csv', encoding='utf-8')
df_main.head()

,Unnamed: 0,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소,계약시작,계약종료,계약년월일,구,건축나이
0,0,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.0,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34
1,1,서울특별시 강남구 개포동,전세,11000,1994,단독다가구,44.0,3.0,서울특별시 강남구 논현로10길,2022-05-01,2024-05-01,2022-05-20,강남구,29
2,2,서울특별시 강남구 개포동,전세,16800,2000,단독다가구,44.0,3.0,서울특별시 강남구 개포로20길,2022-02-01,2024-02-01,2022-01-22,강남구,23
3,3,서울특별시 강남구 개포동,전세,13000,1989,단독다가구,44.0,3.0,서울특별시 강남구 개포로15길,NaN,NaN,2022-02-18,강남구,34
4,4,서울특별시 강남구 개포동,전세,8000,1995,단독다가구,44.0,3.0,서울특별시 강남구 논현로6길,2022-07-01,2024-07-01,2022-06-25,강남구,28

In [2]:
df_main.drop('Unnamed: 0', axis=1, inplace=True)

In [3]:
df_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87361 entries, 0 to 87360
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   시군구      87361 non-null  object
 1   전월세구분    87361 non-null  object
 2   보증금(만원)  87361 non-null  int64
 3   건축년도     87361 non-null  int64
 4   구분       87361 non-null  object
 5   전용면적(㎡)  87361 non-null  float64
 6   층        87361 non-null  float64
 7   도로명주소    87361 non-null  object
 8   계약시작     25069 non-null  object
 9   계약종료     25069 non-null  object
 10  계약년월일    87361 non-null  object
 11  구        87361 non-null  object
 12  건축나이     87361 non-null  int64
dtypes: float64(2), int64(3), object(8)
memory usage: 8.7+ MB

In [4]:
df_main['계약년월일'] = pd.to_datetime(df_main['계약년월일'], format='%Y-%m-%d', errors='coerce')
df_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87361 entries, 0 to 87360
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   시군구      87361 non-null  object
 1   전월세구분    87361 non-null  object
 2   보증금(만원)  87361 non-null  int64
 3   건축년도     87361 non-null  int64
 4   구분       87361 non-null  object
 5   전용면적(㎡)  87361 non-null  float64
 6   층        87361 non-null  float64
 7   도로명주소    87361 non-null  object
 8   계약시작     25069 non-null  object
 9   계약종료     25069 non-null  object
 10  계약년월일    87361 non-null  datetime64[ns]
 11  구        87361 non-null  object
 12  건축나이     87361 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(3), object(7)
memory usage: 8.7+ MB

In [5]:
df_interest = pd.read_csv('./금리/금리.csv', encoding='utf-8')

In [6]:
df_interest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   금리년월일   60 non-null     object
 1   금리      60 non-null     object
dtypes: object(2)
memory usage: 1.1+ KB

In [7]:
df_interest

         금리년월일     금리
0   2018-01-01  1.50%
1   2018-02-01  1.50%
2   2018-03-01  1.50%
3   2018-04-01  1.50%
4   2018-05-01  1.50%
5   2018-06-01  1.50%
6   2018-07-01  1.50%
7   2018-08-01  1.50%
8   2018-09-01  1.50%
9   2018-10-01  1.50%
10  2018-11-01  1.75%
11  2018-12-01  1.75%
12  2019-01-01  1.75%
13  2019-02-01  1.75%
14  2019-03-01  1.75%
15  2019-04-01  1.75%
16  2019-05-01  1.75%
17  2019-06-01  1.75%
18  2019-07-01  1.50%
19  2019-08-01  1.50%
20  2019-09-01  1.50%
21  2019-10-01  1.25%
22  2019-11-01  1.25%
23  2019-12-01  1.25%
24  2020-01-01  1.25%
25  2020-02-01  1.25%
26  2020-03-01  0.75%
27  2020-04-01  0.75%
28  2020-05-01  0.50%
29  2020-06-01  0.50%
30  2020-07-01  0.50%
31  2020-08-01  0.50%
32  2020-09-01  0.50%
33  2020-10-01  0.50%
34  2020-11-01  0.50%
35  2020-12-01  0.50%
36  2021-01-01  0.50%
37  2021-02-01  0.50%
38  2021-03-01  0.50%
39  2021-04-01  0.50%
40  2021-05-01  0.50%
41  2021-06-01  0.50%
42  2021-07-01  0.50%
43  2021-08-01  0.75%
44  2021-09-01  0.75%
45  2021-10-01  0.75%
46  2021-11-01     1%
47  2021-12-01     1%
48  2022-01-01  1.25%
49  2022-02-01  1.25%
50  2022-03-01  1.25%
51  2022-04-01  1.50%
52  2022-05-01  1.75%
53  2022-06-01  1.75%
54  2022-07-01  2.25%
55  2022-08-01  2.50%
56  2022-09-01  2.50%
57  2022-10-01  3.00%
58  2022-11-01  3.25%
59  2022-12-01  3.25%

In [8]:
df_interest['금리년월일'] = pd.to_datetime(df_interest['금리년월일'], format='%Y-%m-%d')

In [9]:
df_interest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   금리년월일   60 non-null     datetime64[ns]
 1   금리      60 non-null     object
dtypes: datetime64[ns](1), object(1)
memory usage: 1.1+ KB

In [10]:
df_interest['금리']

0     1.50%
1     1.50%
2     1.50%
3     1.50%
4     1.50%
5     1.50%
6     1.50%
7     1.50%
8     1.50%
9     1.50%
10    1.75%
11    1.75%
12    1.75%
13    1.75%
14    1.75%
15    1.75%
16    1.75%
17    1.75%
18    1.50%
19    1.50%
20    1.50%
21    1.25%
22    1.25%
23    1.25%
24    1.25%
25    1.25%
26    0.75%
27    0.75%
28    0.50%
29    0.50%
30    0.50%
31    0.50%
32    0.50%
33    0.50%
34    0.50%
35    0.50%
36    0.50%
37    0.50%
38    0.50%
39    0.50%
40    0.50%
41    0.50%
42    0.50%
43    0.75%
44    0.75%
45    0.75%
46       1%
47       1%
48    1.25%
49    1.25%
50    1.25%
51    1.50%
52    1.75%
53    1.75%
54    2.25%
55    2.50%
56    2.50%
57    3.00%
58    3.25%
59    3.25%
Name: 금리, dtype: object

In [11]:
df_interest['금리'] = pd.to_numeric(df_interest['금리'].str.replace('%',''))

In [12]:
df_interest['금리']

0     1.50
1     1.50
2     1.50
3     1.50
4     1.50
5     1.50
6     1.50
7     1.50
8     1.50
9     1.50
10    1.75
11    1.75
12    1.75
13    1.75
14    1.75
15    1.75
16    1.75
17    1.75
18    1.50
19    1.50
20    1.50
21    1.25
22    1.25
23    1.25
24    1.25
25    1.25
26    0.75
27    0.75
28    0.50
29    0.50
30    0.50
31    0.50
32    0.50
33    0.50
34    0.50
35    0.50
36    0.50
37    0.50
38    0.50
39    0.50
40    0.50
41    0.50
42    0.50
43    0.75
44    0.75
45    0.75
46    1.00
47    1.00
48    1.25
49    1.25
50    1.25
51    1.50
52    1.75
53    1.75
54    2.25
55    2.50
56    2.50
57    3.00
58    3.25
59    3.25
Name: 금리, dtype: float64

In [13]:
df_interest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   금리년월일   60 non-null     datetime64[ns]
 1   금리      60 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB

In [18]:
df_interest['금리년월일끝'] = pd.date_range('2018/1/1', periods=len(df_interest), freq='M')

In [19]:
df_interest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   금리년월일   60 non-null     datetime64[ns]
 1   금리      60 non-null     float64
 2   금리년월일끝  60 non-null     datetime64[ns]
dtypes: datetime64[ns](2), float64(1)
memory usage: 1.5 KB

In [20]:
df_interest

        금리년월일    금리     금리년월일끝
0  2018-01-01  1.50 2018-01-31
1  2018-02-01  1.50 2018-02-28
2  2018-03-01  1.50 2018-03-31
3  2018-04-01  1.50 2018-04-30
4  2018-05-01  1.50 2018-05-31
5  2018-06-01  1.50 2018-06-30
6  2018-07-01  1.50 2018-07-31
7  2018-08-01  1.50 2018-08-31
8  2018-09-01  1.50 2018-09-30
9  2018-10-01  1.50 2018-10-31
10 2018-11-01  1.75 2018-11-30
11 2018-12-01  1.75 2018-12-31
12 2019-01-01  1.75 2019-01-31
13 2019-02-01  1.75 2019-02-28
14 2019-03-01  1.75 2019-03-31
15 2019-04-01  1.75 2019-04-30
16 2019-05-01  1.75 2019-05-31
17 2019-06-01  1.75 2019-06-30
18 2019-07-01  1.50 2019-07-31
19 2019-08-01  1.50 2019-08-31
20 2019-09-01  1.50 2019-09-30
21 2019-10-01  1.25 2019-10-31
22 2019-11-01  1.25 2019-11-30
23 2019-12-01  1.25 2019-12-31
24 2020-01-01  1.25 2020-01-31
25 2020-02-01  1.25 2020-02-29
26 2020-03-01  0.75 2020-03-31
27 2020-04-01  0.75 2020-04-30
28 2020-05-01  0.50 2020-05-31
29 2020-06-01  0.50 2020-06-30
30 2020-07-01  0.50 2020-07-31
31 2020-08-01  0.50 2020-08-31
32 2020-09-01  0.50 2020-09-30
33 2020-10-01  0.50 2020-10-31
34 2020-11-01  0.50 2020-11-30
35 2020-12-01  0.50 2020-12-31
36 2021-01-01  0.50 2021-01-31
37 2021-02-01  0.50 2021-02-28
38 2021-03-01  0.50 2021-03-31
39 2021-04-01  0.50 2021-04-30
40 2021-05-01  0.50 2021-05-31
41 2021-06-01  0.50 2021-06-30
42 2021-07-01  0.50 2021-07-31
43 2021-08-01  0.75 2021-08-31
44 2021-09-01  0.75 2021-09-30
45 2021-10-01  0.75 2021-10-31
46 2021-11-01  1.00 2021-11-30
47 2021-12-01  1.00 2021-12-31
48 2022-01-01  1.25 2022-01-31
49 2022-02-01  1.25 2022-02-28
50 2022-03-01  1.25 2022-03-31
51 2022-04-01  1.50 2022-04-30
52 2022-05-01  1.75 2022-05-31
53 2022-06-01  1.75 2022-06-30
54 2022-07-01  2.25 2022-07-31
55 2022-08-01  2.50 2022-08-31
56 2022-09-01  2.50 2022-09-30
57 2022-10-01  3.00 2022-10-31
58 2022-11-01  3.25 2022-11-30
59 2022-12-01  3.25 2022-12-31

In [14]:
df_interest.to_csv('./금리/금리_전_u.csv', index=False, encoding='utf-8')
df_interest.to_csv('./금리/금리_전_c.csv', index=False, encoding='cp949')

In [21]:
from typing import List, Union, Callable, Any, Optional

import numpy as np
import pandas as pd


ColumnarType = Union[str, List[str]]


def maybe_convert_to_list(something: Union[Any, List[Any]]) -> List[Any]:
    """
    Make a list of one element if argument is not a list.
    :param something:
        single value or list
    :return:
        non-empty list
    """
    return something if isinstance(something, list) else [something]


def non_equi_inner_join(
        left: pd.DataFrame,
        right: pd.DataFrame,
        non_equi_conditions: Union[Callable, List[Callable]],
        equi_on: Optional[Union[ColumnarType]] = None,
        equi_left_on: Optional[ColumnarType] = None,
        equi_right_on: Optional[ColumnarType] = None,
        n_partitioning_equi_keys: Optional[int] = None
        ) -> pd.DataFrame:
    """
    Join two `DataFrame`s by arbitrary conditions and,
    optionally, by exact match of some columns (this
    equi join part is regular merge from `pandas`).
    :param left:
        left `DataFrame`
    :param right:
        right `DataFrame`
    :param non_equi_conditions:
        functions such that their only argument is a `DataFrame`
        produced by join that ignores non-equi join part
        and result of each of them is a boolean mask that
        tells which rows satisfy corresponding non-equi join
        condition 
    :param equi_on:
        columns to be used for equi join part, this argument
        overrides `equi_left_on` and `equi_right_on`
    :param equi_left_on:
        columns of `left` to be used for equi join part
    :param equi_right_on:
        columns of `right` to be used for equi join part
    :param n_partitioning_equi_keys:
        number of equi join keys to be used for partitioning;
        the corresponding number of first keys is selected, so
        take this into consideration when ordering equi join keys;
        partitioning means that, instead of running equi join
        followed with filtering by non-equi conditions,
        both `DataFrame`s are split by some of equi join keys,
        then (equi_join+filtering) is run for each of the
        partitions and, finally, results are concatenated;
        the higher this argument, the slower execution can be,
        but also the less memory is taken in case of large
        enough `DataFrames`; default leads to usage of all
        equi join keys for partitioning
    :return:
        joined `DataFrame`
    Examples:
    >>> left = pd.DataFrame([[1, 2, 3],
    >>>                      [4, 5, 6],
    >>>                      [7, 8, 9]],
    >>>                     columns=['a', 'b', 'c'])
    >>> right = pd.DataFrame([[1, 2.5, -3],
    >>>                       [4, 7, -6],
    >>>                       [6, 8.5, -9]],
    >>>                      columns=['a', 'd', 'e'])
    >>> non_equi_inner_join(
    >>>     left,
    >>>     right,
    >>>     non_equi_conditions=[lambda x: x['d'] > x['b'],
    >>>                          lambda x: x['d'] < x['c']],
    >>>     equi_on='a'
    >>> )
        pd.DataFrame([[1, 2, 3, 2.5, -3]],
                     columns=['a', 'b', 'c', 'd', 'e'])
    
    >>> non_equi_inner_join(
    >>>     left,
    >>>     right,
    >>>     non_equi_conditions=[lambda x: x['d'] > x['b'],
    >>>                          lambda x: x['d'] < x['c']]
    >>> )
        pd.DataFrame([[1, 2, 3, 1, 2.5, -3],
                      [7, 8, 9, 6, 8.5, -9]],
                     columns=['a_x', 'b', 'c', 'a_y', 'd', 'e'])
    """
    # Validate and preprocess inputs.
    non_equi_conditions = maybe_convert_to_list(non_equi_conditions)
    if equi_on is not None:
        equi_left_on = maybe_convert_to_list(equi_on)
        equi_right_on = maybe_convert_to_list(equi_on)
    else:
        equi_left_on = maybe_convert_to_list(equi_left_on)
        equi_right_on = maybe_convert_to_list(equi_right_on)
    if equi_left_on[0] is None:
        if equi_right_on[0] is not None:
            raise ValueError('Left keys are set, right keys are not set.')
        equi_left_on = ['__dummy_key']
        equi_right_on = ['__dummy_key']
        left['__dummy_key'] = 0
        right['__dummy_key'] = 0
    if n_partitioning_equi_keys is None:
        n_partitioning_equi_keys = len(equi_left_on)
    elif n_partitioning_equi_keys > len(equi_left_on):
        raise ValueError(
            'Number of keys for partitioning exceeds number of equi join keys.'
        )

    # Use equi keys (if they are set) for optimizing memory consumption.
    if n_partitioning_equi_keys > 0:
        left_partition_keys = equi_left_on[:n_partitioning_equi_keys]
        right_partition_keys = equi_right_on[:n_partitioning_equi_keys]
        left_partitions = {
            idx: group
            for idx, group
            in left.groupby(left_partition_keys, as_index=False)
        }
        right_partitions = {
            idx: group
            for idx, group
            in right.groupby(right_partition_keys, as_index=False)
        }
    else:
        left_partitions = {None: left}
        right_partitions = {None: right}
    
    # Join DataFrames.
    join_results = []
    for idx, curr_left in left_partitions.items():
        curr_right = right_partitions.get(idx)
        if curr_right is None:
            continue
        curr_joined = pd.merge(
            curr_left,
            curr_right,
            left_on=equi_left_on,
            right_on=equi_right_on
        )
        conditions = [
            checking_fn(curr_joined) for checking_fn in non_equi_conditions
        ]
        curr_joined = curr_joined[np.logical_and.reduce(conditions)]
        join_results.append(curr_joined)
    if len(join_results) > 0:
        joined = pd.concat(join_results)
    else:
        joined = pd.DataFrame(columns=left.columns)
    tmp_columns = [x for x in joined.columns.tolist() if '__dummy_key' in x]
    joined.drop(tmp_columns, axis=1, inplace=True)
    return joined

In [22]:
df = non_equi_inner_join(
    df_main,
    df_interest,
    non_equi_conditions=[lambda x: x['계약년월일'] >= x['금리년월일'],
                         lambda x: x['계약년월일'] <= x['금리년월일끝']]
)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87361 entries, 53 to 5241631
Data columns (total 16 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   시군구      87361 non-null  object
 1   전월세구분    87361 non-null  object
 2   보증금(만원)  87361 non-null  int64
 3   건축년도     87361 non-null  int64
 4   구분       87361 non-null  object
 5   전용면적(㎡)  87361 non-null  float64
 6   층        87361 non-null  float64
 7   도로명주소    87361 non-null  object
 8   계약시작     25069 non-null  object
 9   계약종료     25069 non-null  object
 10  계약년월일    87361 non-null  datetime64[ns]
 11  구        87361 non-null  object
 12  건축나이     87361 non-null  int64
 13  금리년월일    87361 non-null  datetime64[ns]
 14  금리       87361 non-null  float64
 15  금리년월일끝   87361 non-null  datetime64[ns]
dtypes: datetime64[ns](3), float64(3), int64(3), object(7)
memory usage: 11.3+ MB

In [24]:
df

,시군구,전월세구분,보증금(만원),건축년도,구분,전용면적(㎡),층,도로명주소,계약시작,계약종료,계약년월일,구,건축나이,금리년월일,금리,금리년월일끝
53,서울특별시 강남구 개포동,전세,7500,1989,단독다가구,44.00,3.0,서울특별시 강남구 논현로4길,2022-06-01,2024-06-01,2022-06-01,강남구,34,2022-06-01,1.75,2022-06-30
112,서울특별시 강남구 개포동,전세,11000,1994,단독다가구,44.00,3.0,서울특별시 강남구 논현로10길,2022-05-01,2024-05-01,2022-05-20,강남구,29,2022-05-01,1.75,2022-05-31
168,서울특별시 강남구 개포동,전세,16800,2000,단독다가구,44.00,3.0,서울특별시 강남구 개포로20길,2022-02-01,2024-02-01,2022-01-22,강남구,23,2022-01-01,1.25,2022-01-31
229,서울특별시 강남구 개포동,전세,13000,1989,단독다가구,44.00,3.0,서울특별시 강남구 개포로15길,NaN,NaN,2022-02-18,강남구,34,2022-02-01,1.25,2022-02-28
293,서울특별시 강남구 개포동,전세,8000,1995,단독다가구,44.00,3.0,서울특별시 강남구 논현로6길,2022-07-01,2024-07-01,2022-06-25,강남구,28,2022-06-01,1.75,2022-06-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5241387,서울특별시 강남구 청담동,전세,10000,2003,오피스텔,17.73,3.0,서울특별시 강남구 학동로 437-6,NaN,NaN,2020-04-11,강남구,20,2020-04-01,0.75,2020-04-30
5241450,서울특별시 강남구 청담동,전세,10500,2003,오피스텔,17.73,1.0,서울특별시 강남구 학동로 437-6,NaN,NaN,2020-07-08,강남구,20,2020-07-01,0.50,2020-07-31
5241510,서울특별시 강남구 청담동,전세,11000,2003,오피스텔,17.73,1.0,서울특별시 강남구 학동로 437-6,NaN,NaN,2020-07-24,강남구,20,2020-07-01,0.50,2020-07-31
5241572,서울특별시 강남구 청담동,전세,13000,1991,오피스텔,22.77,11.0,서울특별시 강남구 도산대로 446,NaN,NaN,2020-09-25,강남구,32,2020-09-01,0.50,2020-09-30
5241631,서울특별시 강남구 청담동,전세,80000,2019,오피스텔,45.09,17.0,서울특별시 강남구 영동대로 740,NaN,NaN,2020-08-04,강남구,4,2020-08-01,0.50,2020-08-31